<div class="page-header">
	<h2>Details User <a href="/admin/users" class="btn btn-primary" style="float:right">Back</a></h2>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<p class="lable-p">Email</p>
			<p class="lable-p">Fullname</p>
			<p class="lable-p">Address</p>
			<p class="lable-p">Phone</p>
			<p class="lable-p">Role</p>
		</div>
		<div class="col-xs-6 col-md-3">
			<p class="lable-data"><%=@user.email  %></p>
			<p class="lable-data"><%=@user.fullname  %></p>
			<p class="lable-data"><%=@user.address  %></p>
			<p class="lable-data"><%=@user.phone  %></p>
			<p class="lable-data"><%=@user.role  %></p>
		</div>
	</div>
</div>