<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Men Shop.</title>
  <%= stylesheet_link_tag    'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<p><%#= notice %></p>
<p><#%= alert %></p>-->

<!-- nav menu -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" style="text-decoration:none;" href="/admin">{Web}<strong>mely</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.role=="admin"%>
            <li>
              <a href="/welcome/index" target="_parent">View site<span class="sr-only">(current)</span></a>
            </li>
            <li>
              <a href="/admin/users">Users</a>
            </li>
            <li>
              <a href="/admin/products/">Products</a>
            </li>
            <li>
              <a href="/admin/orders/">Orders</a>
            </li>
          <%elsif current_user.role=="sale"%>
            <li>
              <a href="/welcome/index" target="_parent">View site<span class="sr-only">(current)</span></a>
            </li>
            <li>
              <a href="/admin/orders/">Orders</a>
            </li>
          <%end%>
          <%end%>
      </ul>
      
      
      <!-- login, logout -->
      <p class="navbar-text pull-right">
      

		<% if user_signed_in? %>
		  Logged in as <strong><%= current_user.email %></strong>
		  
      
		 | <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
		<% else %>
		  <%=link_to "Login", new_user_session_path, :class=>'navbar-link', :style=>'text-decoration:none'%> | 
		  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' ,:style => 'text-decoration:none' %>
      
		<% end %>
		</p>
      <!-- end login , log_out -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end nav menu -->
<!--body -->
<div class="container" style="padding-bottom:100px">
  <%= yield %>
</div>
<!-- ed body -->



</body>
</html>